<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <!--<system.net>
    <defaultProxy>
      <proxy autoDetect="false" bypassonlocal="false" proxyaddress="http://127.0.0.1:8888" usesystemdefault="false" />
    </defaultProxy>
  </system.net>-->
  <appSettings>
    <!--<add key="UDocx365.Services.MailGun.MailGun.BaseUrl" value="https://api.mailgun.net/v3" />
    <add key="UDocx365.Services.MailGun.MailGun.ApiUsername" value="api" />
    <add key="UDocx365.Services.MailGun.MailGun.ApiKey" value="key-ec1e0ad410dd0ff3351ce26abf2e2d92" />
    <add key="UDocx365.Services.MailGun.MailGun.Domain" value="sandbox498f88a90ecb40f9adbcc7366835b046.mailgun.org" />
    <add key="UDocx365.Services.MailGun.MailGun.From" value="UDocx365 &lt;mailgun@sandbox498f88a90ecb40f9adbcc7366835b046.mailgun.org&gt;" />
    <add key="UDocx365.Services.MailGun.MailGun.ResourceUrl" value="{domain}/messages" />
    <add key="UDocx365.Services.MailGun.MailGun.StatsUrl" value="{domain}/events" />
    <add key="UDocx365.Services.MailGun.MailGun.Subject" value="Test" />
    <add key="UDocx365.Services.MailGun.MailGun.Text" value="Nenad is doing a bit of testing from his local machine." />
    <add key="UDocx365.Databases.FileStore.BaseUrl" value="http://ci-ud-apps.eastus2.cloudapp.azure.com:20050/api" />-->

    <add key="UDocx365.Services.MailGun.MailGun.BaseUrl" value="https://api.mailgun.net/v3" />
    <add key="UDocx365.Services.MailGun.MailGun.ApiUsername" value="api" />
    <add key="UDocx365.Services.MailGun.MailGun.ApiKey" value="key-51ba013bf118ed8481edb903c6273da0" />
    <add key="UDocx365.Services.MailGun.MailGun.Domain" value="sandbox4c637567d89a4b318589accff7382c38.mailgun.org" />
    <add key="UDocx365.Services.MailGun.MailGun.From" value="UDocx365 &lt;postmaster@sandbox4c637567d89a4b318589accff7382c38.mailgun.org&gt;" />
    <add key="UDocx365.Services.MailGun.MailGun.ResourceUrl" value="{domain}/messages" />
    <add key="UDocx365.Services.MailGun.MailGun.StatsUrl" value="{domain}/events" />
    <add key="UDocx365.Services.MailGun.MailGun.Subject" value="Test" />
    <add key="UDocx365.Services.MailGun.MailGun.Text" value="Nenad is doing a bit of testing from his local machine." />
    <add key="UDocx365.Databases.FileStore.BaseUrl" value="http://ci-ud-apps.eastus2.cloudapp.azure.com:20050/api" />
  </appSettings>
</configuration>